<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/counsels.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상담 게시판</title>
</head>

<body>
<h2> 문의글 목록 </h2>

<hr class="hr1" noshade>

<span> ▷ 총 [[${totalCounsels}]]개의 문의글이 있습니다. </span>
<form action="/counsels" method="get">
  <div></div>
  <button type="submit" class="rightBt"> 검색 </button>
  <label>
    <input type="text" class="rightEmail" name="searchEmail">
  </label>
  <span class="right"> 이메일을 입력하세요 ▷ </span>
</form>


<br>
<table>
  <thead>
  <tr>
    <th scope="col" class="th-num">ID</th>
    <th scope="col" class="th-title">Email</th>
    <th scope="col" class="th-date">Context</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="counsel : ${counsels}" class="center">
    <td th:text="${counsel.id}"></td>
    <td th:text="${counsel.email}"></td>
    <td th:text="${counsel.context}"></td>
  </tr>
  </tbody>
</table>

<div class="pagination-container">
  <!-- 이전 페이지로 이동하는 버튼 -->
  <button type="button" th:if="${hasPrevious}" th:onclick="|location.href='@{/counsels(page=${previous}, searchEmail=${param.searchEmail})}'|">이전</button>

  <!-- 페이지 번호 링크 -->
  <th:block th:unless="${counselSize}" th:each="num : ${#numbers.sequence(startPage, endPage)}">
    <a class="page-link" th:if="${param.searchEmail != null}" th:text="${num}" th:href="@{/counsels(page=${num}-1, searchEmail=${param.searchEmail})}"></a>
    <a class="page-link" th:if="${param.searchEmail == null}" th:text="${num}" th:href="@{/counsels(page=${num}-1)}"></a>
  </th:block>

  <!-- 다음 페이지로 이동하는 버튼 -->
  <button type="button" th:if="${hasNext}" th:onclick="|location.href='@{/counsels(page=${next}, searchEmail=${param.searchEmail})}'|">다음</button>
</div>

<span class="right">
    <input type="button" value="목록" class="greylist">
    <input type="button" value="글쓰기" class="gradient">
</span>
</body>
</html>
