<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>여행웹</title>
  <!-- main styles -->
  <link rel="stylesheet" href="/css/ysb.css">
</head>
<body id="home1">
<!-- Page navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" data-spy="affix" data-offset-top="0">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="/imgs/logo.jpg"></a>
    <button class="navbar-toggler" type="button" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">소개</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#loc_plan">계획짜기</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#popular">축제</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#rec_trip">추천 여행지</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">상담</a>
        </li>
        <button type="button"class="btn btn-primary rounded"
                onclick="location.href='https://kauth.kakao.com/oauth/authorize?client_id=ced4991c0aeab040d5182416037bc9cc&redirect_uri=http://localhost:8080/kakao/test&response_type=code'">
          로그인
        </button>
      </ul>
    </div>
  </div>
</nav>
<!-- End of page navibation -->

<!-- Page Header -->
<header class="header" id="home">
  <div class="container">
    <div class="infos">
      <h6 class="subtitle">안녕!!</h6>
      <h6 class="title">여행 웹사이트</h6>
      <p>
        창원대학교 컴퓨터공학과
      </p>
      <div class="buttons pt-3">
        <button class="btn btn-primary rounded common-button">추천</button>
      </div>
    </div>
    <div class="img-holder">
      <img src="assets/imgs/trip.1.jpg" alt="">
    </div>
  </div>
  <!-- Header-widget -->
  <div class="widget">
    <div class="widget-item">
      <h2>124</h2>
      <p>
        서울 여행지
      </p>
    </div>
    <div class="widget-item">
      <h2>456</h2>
      <p>
        Project Completed
      </p>
    </div>
    <div class="widget-item">
      <h2>789</h2>
      <p>
        Awards Won
      </p>
    </div>
  </div>
</header>
<!-- End of Page Header -->
<!-- About section -->
<section id="about" class="section mt-3">
  <div class="container mt-5">
    <div class="row text-center text-md-left">
      <div class="col-md-3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5muKTTN9S02W78yYT6vugq8w6WLbNFbjw4g&usqp=CAU" alt="">
      </div>
      <div>
        <h6 class="title">SW경진대회</h6>
        <p class="subtitle">
          창원대학교 학생
        </p>
        <p>
          여행을떠나요~
        </p>
        <p>
          프론트엔드가 뭔지 궁금해서 공부하는 중입니다.
        </p>
        <p>
          더불어 백엔드는 무엇일까요?
        </p>
        <button class="btn btn-primary rounded mt-3 common-button">추천</button>
      </div>
    </div>
  </div>
</section>
<!-- 지역별 여행지 section -->
<section id="loc_plan" class="section">
  <div class="container text-center">
    <h6 class="subtitle">계획 짜기</h6>
    <h6 class="section-title mb-4">여행지</h6>
    <p class="mb-5 pb-4">
      경남 여행지 모음
    </p>
    <div class="row">
      <div class="col-sm-6 col-md-3 mb-4">
        <div class="custom-card card border">
          <div class="card-body">
            <h5>서울</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 mb-4">
        <div class="custom-card card border">
          <div class="card-body">
            <h5>강원도</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 mb-4">
        <div class="custom-card card border">
          <div class="card-body">
            <h5>충청도</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 mb-4">
        <div class="custom-card card border">
          <div class="card-body">
            <h5>경상도</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 mb-4">
        <div class="custom-card card border">
          <div class="card-body">
            <h5>전라도</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 mb-4">
        <div class="custom-card card border">
          <div class="card-body">
            <h5>부산</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 mb-4">
        <div class="custom-card card border">
          <div class="card-body">
            <h5>제주</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 mb-4">
        <div class="custom-card card border">
          <div class="card-body">
            <h5>평양</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of 지역별 여행지 -->
<!-- 추천안내 section -->
<section class="section">
  <div class="container text-center">
    <h6 class="subtitle">지역이</h6>
    <h6 class="section-title mb-4">너무많다!!!</h6>
    <p class="mb-5 pb-4">
      지역이 너무 많아서 어디로 가야할지 모를때! <br>
      그런분들을 위한 추천 여행지!
    </p>
    <div class="row text-left">
      <div class="col-sm-6">
        <h6 class="mb-3">Photoshop</h6>
        <div class="progress">
          <div class="progress-bar bg-primary" role="progressbar" style="width: 89%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <span>89%</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <h6 class="mb-3">Web Design</h6>
        <div class="progress">
          <div class="progress-bar bg-primary" role="progressbar" style="width: 83%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <span>83%</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <h6 class="mb-3">App Design</h6>
        <div class="progress">
          <div class="progress-bar bg-primary" role="progressbar" style="width: 95%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <span>95%</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <h6 class="mb-3">SEO</h6>
        <div class="progress">
          <div class="progress-bar bg-primary" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            <span>90%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of 추천안내 sections -->
<!-- 자주가는곳 section -->
<section id="popular" class="section">
  <div class="container text-center">
    <h6 class="subtitle">축제</h6>
    <h6 class="section-title mb-4">축제도 보고싶다!</h6>
    <p class="mb-5 pb-4">
      사람들이 자주가는 곳은 정해져있다?
    </p>
    <div class="row">
      <div class="col-sm-4">
        <div class="img-wrapper">
          <img src="assets/imgs/trip.1.jpg" alt="">
          <div class="overlay">
            <div class="overlay-infos">
              <h5>후보1</h5>
              <a href="https://www.changwon.ac.kr/portal/main.do" target="_blank">창원대</a>
              <a href="https://www.changwon.ac.kr/portal/main.do" target="_blank">창원대</a>
            </div>
          </div>
        </div>
        <div class="img-wrapper">
          <img src="assets/imgs/trip.9.jpg" alt="">
          <div class="overlay">
            <div class="overlay-infos">
              <h5>후보2</h5>
              <a href="https://www.changwon.ac.kr/portal/main.do" target="_blank">창원대</a>
              <a href="https://www.changwon.ac.kr/portal/main.do" target="_blank">창원대</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="img-wrapper">
          <img src="assets/imgs/trip.8.jpg" alt="">
          <div class="overlay">
            <div class="overlay-infos">
              <h5>후보3</h5>
              <a href="https://www.changwon.ac.kr/portal/main.do" target="_blank">창원대</a>
              <a href="https://www.changwon.ac.kr/portal/main.do" target="_blank">창원대</a>
            </div>
          </div>
        </div>
        <div class="img-wrapper">
          <img src="assets/imgs/trip.5.jpg" alt="">
          <div class="overlay">
            <div class="overlay-infos">
              <h5>후보4</h5>
              <a href="https://www.changwon.ac.kr/portal/main.do" target="_blank">창원대</a>
              <a href="https://www.changwon.ac.kr/portal/main.do" target="_blank">창원대</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="img-wrapper">
          <img src="assets/imgs/trip.6.jpg" alt="">
          <div class="overlay">
            <div class="overlay-infos">
              <h5>후보5</h5>
              <a href="https://www.changwon.ac.kr/portal/main.do" target="_blank">창원대</a>
              <a href="https://www.changwon.ac.kr/portal/main.do" target="_blank">창원대</a>
            </div>
          </div>
        </div>
        <div class="img-wrapper">
          <img src="assets/imgs/trip.7.jpg" alt="">
          <div class="overlay">
            <div class="overlay-infos">
              <h5>후보6</h5>
              <a href="https://www.changwon.ac.kr/portal/main.do" target="_blank">창원대</a>
              <a href="https://www.changwon.ac.kr/portal/main.do" target="_blank">창원대</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 축제가 있는 곳 예약 section -->
  <section class="bg-gray p-0 section">
    <div class="container">
      <div class="card bg-primary">
        <div class="card-body text-light">
          <div class="row align-items-center">
            <div class="col-sm-9 text-center text-sm-left">
              <h5 class="mt-3">축제가 있는 곳 예약 바로가기</h5>
              <p class="mb-3">
              </p>
            </div>
            <div class="col-sm-3 text-center text-sm-right">
              <button class="btn btn-light rounded common-button">장소 보러가기</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 축제가 있는 곳 예약 section. -->
</section>
<!-- End of 축제 section -->
<!-- 여행 Section -->
<section id="rec_trip" class="section">
  <div class="container text-center">
    <h6 class="subtitle">많은 사람들이 가는 여행지</h6>
    <h6 class="section-title mb-4"> 대표 3곳!!!!!!!!! </h6>
    <p class="mb-5 pb-4">
      어쩌구 저쩌구 설명. <br>
      고로 여기 강추.
    </p>
    <div class="row text-left">
      <div class="col-md-4">
        <div class="card border mb-4">
          <img src="assets/imgs/trip.4.jpg" alt="" class="card-img-top w-100">
          <div class="card-body">
            <h5 class="card-title">추천 여행지 1번</h5>
            <div class="post-details">
              <a href="javascript:void(0)">Posted By: Admin</a>
              <a href="javascript:void(0)"><i class="ti-thumb-up"></i> 456</a>
              <a href="javascript:void(0)"><i class="ti-comment"></i> 123</a>
            </div>
            <p>
              trip.4
            </p>
            <a href="javascript:void(0)">Read More..</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border mb-4">
          <img src="assets/imgs/trip.1.jpg" alt="" class="card-img-top w-100">
          <div class="card-body">
            <h5 class="card-title"> 추천 여행지 2번 </h5>
            <div class="post-details">
              <a href="javascript:void(0)">Posted By: Admin</a>
              <a href="javascript:void(0)"><i class="ti-thumb-up"></i> 456</a>
              <a href="javascript:void(0)"><i class="ti-comment"></i> 123</a>
            </div>
            <p>
              trip.1
            </p>
            <a href="javascript:void(0)">Read More..</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card border mb-4">
          <img src="assets/imgs/trip.2.jpg" alt="" class="card-img-top w-100">
          <div class="card-body">
            <h5 class="card-title">추천 여행지 3번</h5>
            <div class="post-details">
              <a href="javascript:void(0)">Posted By: Admin</a>
              <a href="javascript:void(0)"><i class="ti-thumb-up"></i> 456</a>
              <a href="javascript:void(0)"><i class="ti-comment"></i> 123</a>
            </div>
            <p>
              trip.3
            </p>
            <a href="javascript:void(0)">Read More..</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 대표 3가지 section -->
<section class="bg-gray p-0 section">
  <div class="container">
    <div class="card bg-primary">
      <div class="card-body text-light">
        <div class="row align-items-center">
          <div class="col-sm-9 text-center text-sm-left">
            <h5 class="mt-3">대표 3가지 예약 바로가기</h5>
            <p class="mb-3">
              망설임은 예약만 늦출뿐.
            </p>
          </div>
          <div class="col-sm-3 text-center text-sm-right">
            <button class="btn btn-light rounded common-button">예약 하러가기!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End 대표 3가지 section. -->
<!-- 상담 Section -->
<section id="contact" class="position-relative section">
  <div class="container text-center">
    <h6 class="subtitle">상담</h6>
    <h6 class="section-title mb-4">망설이지말고 문의주세요!</h6>
    <p class="mb-5 pb-4">
      어디로 가야 잘 갔다고 소문이날지 고민하는 당신에게!!<br>
      저희가 추천드립니다!
    </p>
    <div class="contact text-left">
      <div class="form">
        <h6 class="subtitle">빠른 상담 (18시 이전에는 칼답가능)</h6>
        <h6 class="section-title mb-4">상담원도 사람이랍니다</h6>

        <form role="form" action="home" method="get">
          <div class="form-group">
            <label for="contact">이메일</label>
            <input type="text" name="email" class="form-control" placeholder="이메일을 입력하세요">
          </div>
          <div class="form-group">
            <label for="contact">내용</label>
            <input type="text" name="context" class="form-control" placeholder="내용을 입력하세요">
          </div>
          <button type="submit" class="btn btn-primary btn-block rounded w-lg common-button">Send Message</button>
        </form>

      </div>
      <div class="contact-infos">
        <div class="item">
          <i class="ti-location-pin"></i>
          <div class="">
            <h5>Location</h5>
            <p>
              창원대 ~~
            </p>
          </div>
        </div>
        <div class="item">
          <i class="ti-mobile"></i>
          <div>
            <h5>Phone Number</h5>
            <p>
              (055) 123-5678
            </p>
          </div>
        </div>
        <div class="item">
          <i class="ti-email"></i>
          <div class="mb-0">
            <h5>Email Address</h5>
            <p>
              changwon@website.com
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="map">
    <iframe src="https://snazzymaps.com/embed/296470">
    </iframe>
  </div>
</section>
<!-- End of Contact Section -->
<!-- Page Footer -->
<footer class="page-footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <p>
          Copyright
          <script>document.write(new Date().getFullYear())</script>
          &copy; <a href="https://www.changwon.ac.kr/portal/main.do" target="_blank">창원대</a>
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- End of page footer -->
</body>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // 클래스명 "common-button"을 가진 모든 버튼에 대해 이벤트 리스너 추가
        var commonButtons = document.querySelectorAll(".common-button");
        commonButtons.forEach(function(button) {
            button.addEventListener("click", function() {
                alert("로그인 먼저 해주세요!");
            });
        });
    });
</script>

</html>