<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Spot List</title>
  <link rel="stylesheet" href="/css/counsels.css">
</head>
<body class="home1"> <!-- 여행 웹사이트와 동일한 클래스를 적용합니다 -->
<h1>Spot List</h1>
<table class="col-sm-4">
  <thead>
  <tr>
    <th>ID</th>
    <th>Address</th>
    <th>Description</th>
    <th>Username</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="spot : ${spots}">
    <td th:text="${spot.id}"></td>
    <td th:text="${spot.address}"></td>
    <td th:text="${spot.description}"></td>
    <td th:text="${spot.userName}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
